name: Publish NodeJS Images
on:
  workflow_dispatch:
  schedule:
  - cron: '0 17 * * 6'
  push:
    branches:
    - master
    paths:
    - nodejs/**
jobs:
  push:
    name: "Build ${{ matrix.tag }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
        - nodejs/20
        - nodejs/22
        - nodejs/24
        - nodejs/25
    steps:
    - uses: "booky10/yolks/.github/actions/publish-docker@master"
      with:
        username: "${{ secrets.REGISTRY_USER }}"
        password: "${{ secrets.REGISTRY_PASS }}"
        tag: "${{ matrix.tag }}"
        platforms: "linux/amd64,linux/arm64"
