name: Publish PHP Images
on:
  workflow_dispatch:
  schedule:
  - cron: '0 17 * * 6'
  push:
    branches:
    - master
    paths:
    - php/**
jobs:
  push:
    name: "Build ${{ matrix.tag }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
        - php/8.2
        - php/8.3
        - php/8.4
        - php/8.5
    steps:
    - uses: "booky10/yolks/.github/actions/publish-docker@master"
      with:
        username: "${{ secrets.REGISTRY_USER }}"
        password: "${{ secrets.REGISTRY_PASS }}"
        tag: "${{ matrix.tag }}"
        platforms: "linux/amd64,linux/arm64"
